:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  height: auto;
  min-height: 100vh;
  background-attachment: fixed;
  background-color: #c6cefb;
  background-image: url("/Backgrounds/background_3.webp");
  background-size: cover;
  background-position: center center;
  background-repeat: "no repeat";

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.midLayer {
  position: relative;
  color: rgb(214, 214, 214);
  box-sizing: border-box;
  margin: 5vh auto;

  max-height: auto;
  max-width: 90%;
  padding: 1em;
}

.container-content-width {
  display: inline-block;
  width: auto;
}

.entry {
  top: 20%;
}

.dropShadow {
  text-shadow: 2px 2px 4px #000000;
  color: rgb(214, 214, 214);
}

.glass {
  color: rgb(214, 214, 214);
  backdrop-filter: blur(10px) saturate(99%);
  -webkit-backdrop-filter: blur(21px) saturate(99%);
  background-color: rgb(228, 227, 227, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.125);
  border-radius: 15px;
}

.glassModal {
  backdrop-filter: blur(10px) saturate(99%);
  -webkit-backdrop-filter: blur(21px) saturate(99%);
  background-color: rgb(228, 227, 227, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.125);
  border-radius: 15px;
}

.cardContainer {
  background-color: rgb(255, 255, 255, 1);
  margin-bottom: 3vh;
  max-width: 100%;
  height: auto;
  border-radius: 15px;
  padding: 3vh;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.exerciseCard {
  margin-bottom: 1vh;
  /* max-width: 100%; */
  height: auto;
  /* border-radius: 15px; */
  padding: 0vh;
  /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); */
}

.main {
  background-color: #ffffff;
  min-height: 100vh !important;
  width: 95% !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.currentExercise {
  max-width: 100%;
  height: auto;
}

.journal {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.journalImage {
  width: 100%;
  height: auto;
  padding: 1em;
}

.historyContainer {
  max-height: 200px; /* Adjust height as needed */
  overflow-y: auto;
}

.journalEntry {
  margin-bottom: 10px;
}

.journalModalBody {
  display: flex;
  flex-direction: column;
  max-height: 400px; /* Static size for modal body */
}

.journalModalBody > * {
  flex-shrink: 0;
}

.addIntervalButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  padding: 0;
  margin: 0;
}
.addIntervalButton {
  background-color: #4caf50; /* Green background */
  border: none; /* Remove borders */
  color: white; /* White text */
  width: 40px; /* Fixed width */
  height: 40px; /* Fixed height */
  display: flex; /* Use flexbox for centering */
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  font-size: 24px; /* Increase font size */
  border-radius: 50%; /* Rounded edges */
  cursor: pointer; /* Pointer/hand icon */
  transition: background-color 0.3s; /* Transition for hover effect */
  padding: 0; /* Remove padding */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Optional: add a slight shadow */
  margin-left: auto; /* Align the button to the right */
}

.addIntervalButton:hover {
  background-color: #45a049; /* Darker green on hover */
}

.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip-text {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: rgb(214, 214, 214);
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%; /* Position above the button */
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
