
html{
    height: 100vh;
}
  
  body {
    height: auto;
    min-height: 100vh;
    background-attachment: fixed;
    background-color: #c6cefb;
    background-image: url('/Backgrounds/background_3.webp');
    background-size: cover;
    background-position: center center;
    background-repeat: "no repeat";

    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-repeat: no-repeat; /* Do not repeat the image */
  margin: 0;
  padding: 0; /* Add padding: 0 if there's unwanted space */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  }

  .midLayer{
    position: relative;
    color: rgb(214, 214, 214);
    box-sizing:border-box;
    margin: 5vh auto;
    
    max-height: auto;
    max-width: 90%;
    padding: 1em;
  
  }

  .container-content-width {
    display: inline-block;
    width: auto;
  }
  
  .entry{
    top: 20%;
  }
  
  .dropShadow{
    text-shadow: 2px 2px 4px #000000;
    color:  rgb(214, 214, 214);
  }

  .glass{
    color:  rgb(214, 214, 214);
    backdrop-filter: blur(10px) saturate(99%);
    -webkit-backdrop-filter: blur(21px) saturate(99%);
    background-color: rgb(228, 227, 227, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.125);
    border-radius: 15px;
  }
  
  .cardContainer{
    background-color: rgb(255, 255, 255, 1);
    margin-bottom: 3vh;
    max-width: 100%;
    height: auto;
    border-radius: 15px;
    padding: 3vh;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    
    
  }
  .exerciseCard{
    margin-bottom: 1vh;
    /* max-width: 100%; */
    height: auto;
    /* border-radius: 15px; */
    padding: 0vh;
    /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); */
  }

  .main {
    background-color: #ffffff;
    min-height: 100vh !important;
    width: 95% !important;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

  .currentExercise{
    max-width: 100%;
    height: auto;
  }
  
  